.hero-unit {
  padding: 30px;
}

.hero-unit p {
  margin-top: 1em;
}

.dragme {
  cursor: move;
}

audio,
video,
canvas {
  margin-bottom: 1em;
}

.flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

div#images {
  height: 240px;
  width: 240px;
  margin-bottom: 1em;
}
div#images img:last-child {
  top: -240px;
  position: relative;
  opacity: 0;
}
#slider {
  width: 80%;
  margin-bottom: 1em;
}






